<div class="max-w-2xl bg-white py-10 px-5 m-auto w-full mt-10">
  <div class="text-3xl mb-6 text-center ">
    建立一個新看板吧！
  </div>
  <%= render "form", board: @board, name: "新增看板" %>
    <div class="text-center py-8"><%= link_to "回看板列表", boards_path, class: "m-auto py-4 px-6 border-2 font-bold w-full" %></div>
    
  </div>

 
