<div class="m-auto center text-center text-2xl"><h2></h2></div>
<div class="shadow-lg">
  <div class="pt-3 pb-4 ">
      <div href="#" class="block bg-white py-3 border-t">
          <div class="px-4 py-2 flex  justify-between">
              <span><%= @board.title %></span>
              <div>
                  <span class="px-3 text-sm font-semibold">#<%= @board.id %></span>
                  <span class="text-sm font-semibold px-4 py-1 text-gray-800 rounded-full bg-green-300">大人才看</span>    
              </div>
          </div>
      </div>
  </div>
</div>

<div class="shadow-lg pt-4 ml-2 mr-2 rounded-lg">
  <a href="#" class="block bg-white py-3 border-t pb-4">
      <div class="px-4 py-2 flex  justify-between">
          <span class="text-sm font-semibold text-gray-900">Gloria Roberston</span>
          <div class="flex">
              <span class="px-4 text-sm font-semibold text-gray-600"> yesterday</span>
              <img class="h-6 w-6 rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=144&q=80"
                  alt="">
          </div>
      </div>
      <p class="px-4 py-2 text-sm font-semibold text-gray-700"">Lorem mmmmm ipsum dolor sit amet consectetur adipisicing elit. Iusto adipisci laudantium <br> iste delectus explicabo id molestiae cupiditate corrupti distinctio alias. <br> Temporibus quae tenetur quod cupiditate, nostrum tempore inventore maxime ut! </p>
  </a>
</div>